#!/bin/sh
cd /opt/giften_tk_2025
rm -f message.txt
touch message.txt

GITHUB_PERSONAL_TOKEN=<YOUR_TOKEN>
git pull https://${GITHUB_PERSONAL_TOKEN}@github.com/openstate/giften-tk-2025.git main

ODS_LINK=`./get-link.py`
wget -q -O tmp-giften-tk-2025.ods "$ODS_LINK"
libreoffice --convert-to csv tmp-giften-tk-2025.ods

sed '1s/^\xEF\xBB\xBF//;${/^$/d;}' tmp-giften-tk-2025.csv >"giften-tk-2025.csv"

SUBS_DIFF=$(diff giften-tk-2025.csv giften-tk-2025-old.csv)
if [ "$SUBS_DIFF" != "" ]
then
  echo "Giften TK 2025 bijgewerkt." >message.txt
fi

cp -f giften-tk-2025.csv giften-tk-2025-old.csv

git add giften-tk-2025.csv

git config --global user.email "developers@openstate.eu"
git config --global user.name "Open State developers"
git commit -F message.txt && \
              git push -q https://${GITHUB_PERSONAL_TOKEN}@github.com/openstate/giften-tk-2025.git main \
              || true
